In [1]:
import pandas as pd
import numpy as np

In [2]:
#load final_parent_priority
final_parent_priority_df = pd.read_csv('data/prioritization_data/final_parent_priority.csv')

In [3]:
final_parent_priority_df.columns

Index(['Unnamed: 0.1', 'Unnamed: 0', 'parentname_x', 'acctcode',
       'attrition_prob_x', 'last_52_weeks_gallons_x',
       'monthly_avg_gallons_last_52_weeks_x', 'max_gallons_per_month_x',
       'last_52_weeks_gallons_max_x', 'last_52_weeks_revenue_x',
       'monthly_avg_revenue_last_52_weeks_x', 'max_revenue_per_month_x',
       'last_52_weeks_revenue_max_x', 'parentname_y', 'attrition_prob_y',
       'last_52_weeks_gallons_y', 'monthly_avg_gallons_last_52_weeks_y',
       'max_gallons_per_month_y', 'last_52_weeks_gallons_max_y',
       'last_4_weeks_gallons', 'last_8_weeks_gallons', 'last_13_weeks_gallons',
       'last_26_weeks_gallons', 'last_52_weeks_revenue_y',
       'monthly_avg_revenue_last_52_weeks_y', 'max_revenue_per_month_y',
       'last_52_weeks_revenue_max_y', 'last_transaction_week',
       'last_transaction_month', 'count_sf_cases_last3m', 'phone',
       'mobilephone', 'otherphone', 'Current_account_managed', 'Priority_1',
       'attrition_prob_bin', 'Priority_1_bin', 'revenue_bin', 'parent_rank'],
      dtype='object')

In [4]:
final_parent_priority_df.shape

(9098, 39)

In [5]:
len(final_parent_priority_df['acctcode'].unique())

9098

In [6]:
account_level_df = final_parent_priority_df[['parentname_x', 'acctcode', 'attrition_prob_x',
       'last_transaction_week', 'last_transaction_month',
       'count_sf_cases_last3m', 'phone', 'mobilephone', 'otherphone',
       'Current_account_managed', 'last_52_weeks_gallons_y',
       'monthly_avg_gallons_last_52_weeks_y', 'max_gallons_per_month_y',
       'last_52_weeks_gallons_max_y', 'last_52_weeks_revenue_y',
       'monthly_avg_revenue_last_52_weeks_y', 'max_revenue_per_month_y',
       'last_52_weeks_revenue_max_y', 'last_4_weeks_gallons','last_8_weeks_gallons',
        'last_13_weeks_gallons','last_26_weeks_gallons']]

In [7]:
#Identify all unique parents which has more than 1 accounts
duplicated_parents_list = list(account_level_df[account_level_df['parentname_x'].duplicated()]['parentname_x'].unique())

In [8]:
len(duplicated_parents_list)

927

In [9]:
#Access all accounts info from duplicated_parents_list
duplicated_accounts_df = account_level_df[account_level_df['parentname_x'].isin(duplicated_parents_list)]

In [10]:
duplicated_accounts_df

,parentname_x,acctcode,attrition_prob_x,last_transaction_week,last_transaction_month,count_sf_cases_last3m,phone,mobilephone,otherphone,Current_account_managed,...,max_gallons_per_month_y,last_52_weeks_gallons_max_y,last_52_weeks_revenue_y,monthly_avg_revenue_last_52_weeks_y,max_revenue_per_month_y,last_52_weeks_revenue_max_y,last_4_weeks_gallons,last_8_weeks_gallons,last_13_weeks_gallons,last_26_weeks_gallons
5,ONE9 SPEEDWAY,TN467,0.0002,202403,202401,1.0,4042906474,NaN,NaN,No,...,2032.46,24389.52,387.98,32.3316,103.88,1246.56,830.57,2473.80,3712.31,8393.60
6,ONE9 SPEEDWAY,TN034,0.0002,202447,202411,1.0,7346719700,911,NaN,No,...,782.68,9392.16,288.27,24.0225,71.43,857.16,294.96,653.95,1100.52,2142.75
7,ONE9 SPEEDWAY,IN196,0.0002,202447,202411,NaN,9129641343,NaN,NaN,No,...,43151.62,517819.44,8214.61,684.5508,4074.06,48888.72,21279.33,52366.20,88999.66,185085.75
18,TLT TRUCKING LLC,L-46X,0.6674,202447,202411,1.0,9126815707,NaN,NaN,No,...,131115.55,1573386.60,30169.50,2514.1250,5413.00,64956.00,54884.62,123575.54,209797.35,510688.73
19,TLT TRUCKING LLC,TC383,0.6674,202447,202411,4.0,9126815707,NaN,NaN,No,...,NaN,NaN,4747.54,395.6283,1489.95,17879.40,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9075,BLU ADVANCE SERVICES LLC,AJ677,0.2267,202447,202411,1.0,6162747002,NaN,NaN,No,...,5311.51,63738.12,2250.70,187.5583,537.70,6452.40,2850.25,5932.59,9914.45,20892.53
9076,SHUR-WAY MOVING & CARTAGE CO.,P-792,0.1762,202447,202411,NaN,8473622976,NaN,NaN,No,...,94.02,1128.24,729.48,60.7900,120.00,1440.00,0.00,0.00,0.00,94.02
9077,SHUR-WAY MOVING & CARTAGE CO.,SH352,0.1762,202447,202411,12.0,8473622976,NaN,NaN,Yes,...,34213.18,410558.16,7044.09,587.0075,2588.41,31060.92,11433.16,27081.32,47664.50,133973.43
9080,MIGUEL ANGEL POLANCO,MS821,0.7909,202447,202411,3.0,0000000000,NaN,NaN,No,...,4386.42,52637.04,832.28,69.3566,227.86,2734.32,886.74,2372.96,4708.42,11081.92
9081,MIGUEL ANGEL POLANCO,EX497,0.7909,202446,202411,NaN,6232297242,NaN,NaN,No,...,NaN,NaN,169.77,14.1475,58.40,700.80,NaN,NaN,NaN,NaN

In [11]:
combined_accounts_df = duplicated_accounts_df.copy()

#### Create new columns which are required to prioritize

In [12]:
combined_accounts_df['decline%_26-4'] = ((combined_accounts_df['last_26_weeks_gallons'] - combined_accounts_df['last_4_weeks_gallons'])/ combined_accounts_df['last_26_weeks_gallons'])*100

In [13]:
combined_accounts_df['valid_phone'] = np.where(combined_accounts_df['phone'].notna(),1,2)

In [14]:
combined_accounts_df['rank_last_transaction_week'] = combined_accounts_df.groupby('parentname_x')['last_transaction_week'].rank(method='dense', ascending=False)

In [15]:
combined_accounts_df['rank_revenue'] = combined_accounts_df.groupby('parentname_x')['last_52_weeks_revenue_y'].rank(method='dense', ascending=False)

In [16]:
combined_accounts_df['rank_gallons'] = combined_accounts_df.groupby('parentname_x')['last_52_weeks_gallons_y'].rank(method='dense', ascending=False)

In [17]:
combined_accounts_df['rank_sf_cases'] = combined_accounts_df.groupby('parentname_x')['count_sf_cases_last3m'].rank(method='dense', ascending=False)

In [18]:
combined_accounts_df['rank_decline%'] = combined_accounts_df.groupby('parentname_x')['decline%_26-4'].rank(method='dense', ascending=False)

In [19]:
combined_accounts_df[['valid_phone','rank_last_transaction_week','rank_decline%','rank_sf_cases']]

      valid_phone  rank_last_transaction_week  rank_decline%  rank_sf_cases
5               1                         2.0            1.0            1.0
6               1                         1.0            3.0            1.0
7               1                         1.0            2.0            NaN
18              1                         1.0            1.0            2.0
19              1                         1.0            NaN            1.0
...           ...                         ...            ...            ...
9075            1                         1.0            1.0            1.0
9076            1                         1.0            1.0            NaN
9077            1                         1.0            2.0            1.0
9080            1                         1.0            1.0            1.0
9081            1                         2.0            NaN            NaN

[2532 rows x 4 columns]

#### Calculate Final Rank

In [20]:
# Calculate global_rank by taking the average of rank columns
combined_accounts_df['global_rank_mean'] = combined_accounts_df[['valid_phone','rank_last_transaction_week','rank_decline%','rank_sf_cases']].fillna(0).sum(axis=1) / 4

In [21]:
combined_accounts_df['global_rank_mean']

5       1.25
6       1.50
7       1.00
18      1.25
19      0.75
        ...
9075    1.00
9076    0.75
9077    1.25
9080    1.00
9081    0.75
Name: global_rank_mean, Length: 2532, dtype: float64

In [22]:
# Calculate Final_rank column by grouping parentnames and prioritize 
combined_accounts_df['account_rank'] = combined_accounts_df.groupby('parentname_x')['global_rank_mean'].rank(method='dense', ascending=True)

In [23]:
combined_accounts_df['account_rank']

5       2.0
6       3.0
7       1.0
18      2.0
19      1.0
       ...
9075    2.0
9076    1.0
9077    2.0
9080    2.0
9081    1.0
Name: account_rank, Length: 2532, dtype: float64

In [24]:
combined_accounts_df.shape

(2532, 31)

In [25]:
combined_accounts_df.columns

Index(['parentname_x', 'acctcode', 'attrition_prob_x', 'last_transaction_week',
       'last_transaction_month', 'count_sf_cases_last3m', 'phone',
       'mobilephone', 'otherphone', 'Current_account_managed',
       'last_52_weeks_gallons_y', 'monthly_avg_gallons_last_52_weeks_y',
       'max_gallons_per_month_y', 'last_52_weeks_gallons_max_y',
       'last_52_weeks_revenue_y', 'monthly_avg_revenue_last_52_weeks_y',
       'max_revenue_per_month_y', 'last_52_weeks_revenue_max_y',
       'last_4_weeks_gallons', 'last_8_weeks_gallons', 'last_13_weeks_gallons',
       'last_26_weeks_gallons', 'decline%_26-4', 'valid_phone',
       'rank_last_transaction_week', 'rank_revenue', 'rank_gallons',
       'rank_sf_cases', 'rank_decline%', 'global_rank_mean', 'account_rank'],
      dtype='object')

In [26]:
account_priority_df = combined_accounts_df[['acctcode','account_rank']]

#### Merge account priority df with original parent priority df

In [27]:
parent_account_priority_df = pd.merge(final_parent_priority_df,account_priority_df, on ='acctcode',how='left')

In [28]:
#fill missing account_rank with 1
parent_account_priority_df['account_rank'] = parent_account_priority_df['account_rank'].fillna(1)

In [29]:
#drop columns which are not required
parent_account_priority_df.drop(columns = ['Unnamed: 0.1', 'Unnamed: 0','parentname_y', 'attrition_prob_y'],inplace = True)

In [30]:
parent_account_priority_df

,parentname_x,acctcode,attrition_prob_x,last_52_weeks_gallons_x,monthly_avg_gallons_last_52_weeks_x,max_gallons_per_month_x,last_52_weeks_gallons_max_x,last_52_weeks_revenue_x,monthly_avg_revenue_last_52_weeks_x,max_revenue_per_month_x,...,phone,mobilephone,otherphone,Current_account_managed,Priority_1,attrition_prob_bin,Priority_1_bin,revenue_bin,parent_rank,account_rank
0,"REINSFELDER, INC.",RE215,0.0092,21192.48,1766.0400,3700.36,44404.32,1359.78,113.3150,445.51,...,412-821-2400,NaN,NaN,No,0.005736,0-0.2,0-0.2,0.4-0.6,15.0,1.0
1,"SMOCK, INC.",SP990,0.8832,69080.48,5756.7066,23937.97,287255.64,1030.02,85.8350,149.99,...,5748312103,NaN,NaN,No,0.746707,0.8-1,0.6-0.8,0.4-0.6,2.0,1.0
2,U & R CARRIER INC,G-93N,0.5384,28508.53,2375.7108,3634.09,43609.08,1799.85,149.9875,282.28,...,7028092654,NaN,NaN,No,0.334479,0.4-0.6,0.2-0.4,0.6-0.8,9.0,1.0
3,COTNER TRANSPORT INC,CT278,0.2334,192990.61,16082.5508,21015.33,252183.96,3807.88,317.3233,1656.70,...,918-366-4280,NaN,NaN,No,0.197859,0.2-0.4,0-0.2,0.6-0.8,14.0,1.0
4,TREE LINE TRANSPORTATION INC,TL160,0.7728,2273.31,189.4425,695.63,8347.56,163.37,13.6141,25.00,...,5034332181,5039499384,NaN,No,0.076115,0.6-0.8,0-0.2,0-0.2,12.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9093,"AUTOMOTIVE CORE SUPPLY, INC",AW825,0.6620,5934.13,494.5108,1576.58,18918.96,1372.17,114.3475,621.22,...,8639379705,NaN,NaN,No,0.457914,0.6-0.8,0.4-0.6,0.4-0.6,5.0,1.0
9094,FT TRANSPORTATION INC,W-01K,0.3053,10951.54,912.6283,1432.13,17185.56,264.00,22.0000,42.50,...,9095519141,NaN,NaN,No,0.098154,0.2-0.4,0-0.2,0-0.2,14.0,1.0
9095,VAL'S CARGO LLC,G-56Q,0.3531,58214.14,4851.1783,6953.79,83445.48,1304.54,108.7116,256.25,...,2675218888,NaN,NaN,No,0.245375,0.2-0.4,0.2-0.4,0.4-0.6,10.0,1.0
9096,UNIVERSAL GROUND LOGISTICS,J-144,0.7923,16986.77,1415.5641,2129.14,25549.68,835.82,69.6516,141.14,...,3173004530,NaN,NaN,No,0.348938,0.6-0.8,0.2-0.4,0.4-0.6,8.0,1.0
9097,CACTUS TANKS LLC,CT098,0.0540,126490.22,10540.8516,13969.78,167637.36,3790.56,315.8800,989.98,...,8002560329,4053280086,NaN,No,0.043103,0-0.2,0-0.2,0.6-0.8,15.0,1.0

In [31]:
parent_account_priority_df.columns

Index(['parentname_x', 'acctcode', 'attrition_prob_x',
       'last_52_weeks_gallons_x', 'monthly_avg_gallons_last_52_weeks_x',
       'max_gallons_per_month_x', 'last_52_weeks_gallons_max_x',
       'last_52_weeks_revenue_x', 'monthly_avg_revenue_last_52_weeks_x',
       'max_revenue_per_month_x', 'last_52_weeks_revenue_max_x',
       'last_52_weeks_gallons_y', 'monthly_avg_gallons_last_52_weeks_y',
       'max_gallons_per_month_y', 'last_52_weeks_gallons_max_y',
       'last_4_weeks_gallons', 'last_8_weeks_gallons', 'last_13_weeks_gallons',
       'last_26_weeks_gallons', 'last_52_weeks_revenue_y',
       'monthly_avg_revenue_last_52_weeks_y', 'max_revenue_per_month_y',
       'last_52_weeks_revenue_max_y', 'last_transaction_week',
       'last_transaction_month', 'count_sf_cases_last3m', 'phone',
       'mobilephone', 'otherphone', 'Current_account_managed', 'Priority_1',
       'attrition_prob_bin', 'Priority_1_bin', 'revenue_bin', 'parent_rank',
       'account_rank'],
      dtype='object')

In [36]:
#Rename columns
# Replace '_x' with '_parent_level' and '_y' with '_account_level' in column names
updated_columns = [
    col.replace('_x', '_parent_level').replace('_y', '_account_level') 
    if col not in ['parentname_x', 'attrition_prob_x'] 
    else col.replace('_x', '')
    for col in parent_account_priority_df.columns
]

In [37]:
updated_columns

['parentname',
 'acctcode',
 'attrition_prob',
 'last_52_weeks_gallons_parent_level',
 'monthly_avg_gallons_last_52_weeks_parent_level',
 'max_gallons_per_month_parent_level',
 'last_52_weeks_gallons_max_parent_level',
 'last_52_weeks_revenue_parent_level',
 'monthly_avg_revenue_last_52_weeks_parent_level',
 'max_revenue_per_month_parent_level',
 'last_52_weeks_revenue_max_parent_level',
 'last_52_weeks_gallons_account_level',
 'monthly_avg_gallons_last_52_weeks_account_level',
 'max_gallons_per_month_account_level',
 'last_52_weeks_gallons_max_account_level',
 'last_4_weeks_gallons',
 'last_8_weeks_gallons',
 'last_13_weeks_gallons',
 'last_26_weeks_gallons',
 'last_52_weeks_revenue_account_level',
 'monthly_avg_revenue_last_52_weeks_account_level',
 'max_revenue_per_month_account_level',
 'last_52_weeks_revenue_max_account_level',
 'last_transaction_week',
 'last_transaction_month',
 'count_sf_cases_last3m',
 'phone',
 'mobilephone',
 'otherphone',
 'Current_account_managed',
 'Priority_1',
 'attrition_prob_bin',
 'Priority_1_bin',
 'revenue_bin',
 'parent_rank',
 'account_rank']

In [40]:
parent_account_priority_df.columns = updated_columns

In [41]:
parent_account_priority_df

,parentname,acctcode,attrition_prob,last_52_weeks_gallons_parent_level,monthly_avg_gallons_last_52_weeks_parent_level,max_gallons_per_month_parent_level,last_52_weeks_gallons_max_parent_level,last_52_weeks_revenue_parent_level,monthly_avg_revenue_last_52_weeks_parent_level,max_revenue_per_month_parent_level,...,phone,mobilephone,otherphone,Current_account_managed,Priority_1,attrition_prob_bin,Priority_1_bin,revenue_bin,parent_rank,account_rank
0,"REINSFELDER, INC.",RE215,0.0092,21192.48,1766.0400,3700.36,44404.32,1359.78,113.3150,445.51,...,412-821-2400,NaN,NaN,No,0.005736,0-0.2,0-0.2,0.4-0.6,15.0,1.0
1,"SMOCK, INC.",SP990,0.8832,69080.48,5756.7066,23937.97,287255.64,1030.02,85.8350,149.99,...,5748312103,NaN,NaN,No,0.746707,0.8-1,0.6-0.8,0.4-0.6,2.0,1.0
2,U & R CARRIER INC,G-93N,0.5384,28508.53,2375.7108,3634.09,43609.08,1799.85,149.9875,282.28,...,7028092654,NaN,NaN,No,0.334479,0.4-0.6,0.2-0.4,0.6-0.8,9.0,1.0
3,COTNER TRANSPORT INC,CT278,0.2334,192990.61,16082.5508,21015.33,252183.96,3807.88,317.3233,1656.70,...,918-366-4280,NaN,NaN,No,0.197859,0.2-0.4,0-0.2,0.6-0.8,14.0,1.0
4,TREE LINE TRANSPORTATION INC,TL160,0.7728,2273.31,189.4425,695.63,8347.56,163.37,13.6141,25.00,...,5034332181,5039499384,NaN,No,0.076115,0.6-0.8,0-0.2,0-0.2,12.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9093,"AUTOMOTIVE CORE SUPPLY, INC",AW825,0.6620,5934.13,494.5108,1576.58,18918.96,1372.17,114.3475,621.22,...,8639379705,NaN,NaN,No,0.457914,0.6-0.8,0.4-0.6,0.4-0.6,5.0,1.0
9094,FT TRANSPORTATION INC,W-01K,0.3053,10951.54,912.6283,1432.13,17185.56,264.00,22.0000,42.50,...,9095519141,NaN,NaN,No,0.098154,0.2-0.4,0-0.2,0-0.2,14.0,1.0
9095,VAL'S CARGO LLC,G-56Q,0.3531,58214.14,4851.1783,6953.79,83445.48,1304.54,108.7116,256.25,...,2675218888,NaN,NaN,No,0.245375,0.2-0.4,0.2-0.4,0.4-0.6,10.0,1.0
9096,UNIVERSAL GROUND LOGISTICS,J-144,0.7923,16986.77,1415.5641,2129.14,25549.68,835.82,69.6516,141.14,...,3173004530,NaN,NaN,No,0.348938,0.6-0.8,0.2-0.4,0.4-0.6,8.0,1.0
9097,CACTUS TANKS LLC,CT098,0.0540,126490.22,10540.8516,13969.78,167637.36,3790.56,315.8800,989.98,...,8002560329,4053280086,NaN,No,0.043103,0-0.2,0-0.2,0.6-0.8,15.0,1.0

In [42]:
parent_account_priority_df.to_csv('data/prioritization_data/parent_account_priority.csv')